<ion-view title="{{product.product | lowercase | capitalize}}">
  <ion-content class="has-header">
  <div class="row responsive-sm">
    <div class="col">
      <img src="img/{{product.category}}/{{product.id}}.png">
    </div>
    <div class="col" style="margin-bottom: 0;">
      <div class="row">
        <div class="col">
          <div class="price">
          ${{product.price}}
          </div>
        </div>
        <div class="col">
          <button style="margin-top:0;" ui-sref="report({productId: product.id})" class="button button-block button-assertive icon-left ion-ios7-redo">
          Denunciar
        </button>
        </div>
      </div>
    </div>
    <div class="colInfoProduct col">
      <b>Producto:</b> {{product.product | lowercase | capitalize}}
    </div>
    <div class="colInfoProduct col">
      <b>Rubro:</b> {{category.name | lowercase | capitalize}}
    </div>
    <div class="colInfoProduct col">
      <b>Marca:</b> {{product.brand | lowercase | capitalize}}
    </div>
    <div class="colInfoProduct col">
      <b>Proveedor:</b> {{product.supplier | lowercase | capitalize}}
    </div>
  </div>
  </ion-content>
</ion-view>